/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@100;300;400;700;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Fonts to use
font-family: 'Fjalla One', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    background-image: url('../images/blogs/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar Styling */
.navbar {
    font-family: 'Fjalla One', sans-serif;
}

/* Button styling */
.btn {
    color: #FFFFFF;
    background: #EAA225;
    width: 100%;
    transition: 0.5s ease-in-out;
    border-radius: 80px;
    border: 2px solid white;
}

.btn:hover {
    color: #EAA225;
    background: #FFFFFF;
    width: 100%;
    transition: 0.5s ease-in-out;
    border-radius: 80px;
    border: 2px solid #EAA225;
}

/* Nav - item styling */
.nav-item {
    margin: 0px 15px;
}

/* Nav link styling */
.nav-link {
    color: #37A447;
    transition: 0.5s ease-in-out;
}

.nav-link:hover {
    color: #EAA225;
    transition: 0.5s ease-in-out;
}

nav .btn {
    width: 130px;
}

nav .btn:hover {
    width: 130px;
}

/* form style */
.login-form {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;
    margin-top: 150px;
    margin-bottom: 51px;
}

.login-form h1 {
    font-weight: 600;
    color: #FFFFFF;
}

.login-form input {
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    padding: 7px 10px;
}

.login-form textarea {
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 7px 10px;
    resize: none;
    margin-bottom: 10px;
}

/* Section styling */
section {
    padding: 50px 0;
}

/* Blog Styling */
.card-body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.card-title {
    color: #359E47;
}

.card-subtitle {
    color: #FF5C00;
}

.card-link {
    width: 130px;
    font-family: 'Fjalla One', sans-serif;
}

/* This will be used when JS */
/* .card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

.card-link:hover {
    width: 130px;
    font-family: 'Fjalla One', sans-serif;
}

/* footer styling */
footer {
    background-image: linear-gradient(#0CC0DF, #FFDE59);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0px 50px;
}


.footer-container {
    display: flex;
    justify-content: space-between;

}

.footer-section {
    display: flex;
    flex-wrap: wrap;
}

.footer-section h6 {
    color: #ff7b00;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    color: #FFFFFF;
}

.textcopy {
    text-align: center;
}

.footer-2 p {
    color: #797979;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
}